.alert {
    display: inline-flex;
    align-items: center;
    padding: $sizing--med;
    margin: $sizing--med $sizing--med $sizing--med 0;
    color: $white;
    background: $error;
    border-radius: $radius--med;
    box-shadow: $boxShadow--med;

    svg {
        margin-left: $sizing--sm;
    }

    & .error {
        background: $error;
    }

    & .warning {
        color: $black;
        background: $warning;
    }

    & .success {
        background: $success;
    }
}