button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: $white;
}

button[type="submit"] {
    background: $primary;
    color: $white;
    height: 3rem;
    line-height: 3rem;
    margin-top: 1.5rem;
}
 
.text-link {
    display: inline-block;
    padding: 0 0 .5rem 0;
    margin-top: 1.5rem;
    transition: $transition;
    //box-shadow: 0 -.0625 0 $black-90 inset; 

    &:hover {
        color: $colorTypography--hdr;
        //box-shadow: 0 -.25rem 0 $black-90 inset; 
    }
}

h1, h2, h3, h4, h5, h6, p {

    a {
        @extend .text-link;
    }
}

/******** NEW buttons *********/

// Buttons

.button {
    text-align: center;
    color: $primary;
    cursor: pointer;
    transition: $transition;
    border-radius: $sizing--xsm;
    border: .0625rem solid $primary;
    font-size: $size-reg;
    font-weight: $weight--bold;
    padding: $sizing--sm $sizing--med;
    margin: $sizing--lrg 0;
    min-height: 3rem;
    display: inline-block;

    &:hover {
        background: $primary-900;
        }

    svg {
        margin: 0 $sizing--sm 0 0;
    }

    &.icon--only {
        display: inline-block;
        width: 3rem;
        height: 3rem;

        svg {
            position: relative;
            top: calc(50% - .5rem);
            left: calc(50% - .5rem);
            margin: 0;
        }
    }

    &-secondary {
        background: $white;
        color: $primary-400;

        &--utility {
            border-radius: $radius--sm;
            color: $gray-500;
            height: 3rem;

            &-function {
                height: 2rem;
                font-size: $xsmall;
            }

            &:hover {
                background: $gray-500;
                border-color: $gray-500;
                color: $white;
                box-shadow: none;

                svg {
                    fill: none;
                }
            }
        }

        &:hover {
            color: $primary-500;
            transition: $transition;

            svg {
                fill: $primary-200;
            }
        }
    }

    &.green {
        background: $secondary-500;

        &:hover {
            background: $secondary-900;
        }
    }
    
    &.purple {
        background: $primary-500;

        &:hover {
            background: $primary-400;
        }
    }

    &.delete {
        background: $error;

        &:hover {
            background: $error--hover;
        }
    }
}