.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .375rem 1rem;
    color: $white;
    font: $xsmall;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-radius: $pill;
    white-space: nowrap;

    &--1 {
        background: $tertiary-900;
    }

    &--2 {
        background: $error;
    }

    &--3 {
        background: $primary-500
    }

    &--4 {
        background: $primary-400
    }

    &--5 {
        background: $secondary-500;
    }
    &--6 {
        background: $white;
        color: $gray-500;
    }
}