body {
    padding: 0;
    margin: 0;
}

$max-width-desktop: 90rem;

main {

    & #hero {
        padding-top: 4rem;
    }

    @media screen and (max-width: $tablet--max) {

        span:empty {
            display: none;
        }
    
        div:empty {
            display:none;
          }
    }
}

nav, .section, #case-overlay-inner-wrapper {
    padding: 3rem;
    // background: $background-html;


    @media screen and (max-width: $tablet--max) {
        padding: $sizing--lrg;

        span:empty {
            display: none;
        }
    
        div:empty {
            display:none;
          }
    }
}

#case-overlay-inner-wrapper {
    background: $background-html;
}

#case-overlay-inner-wrapper {

    min-height: 100vh;
    padding: 0 3rem;

    @media screen and (max-width: $tablet--max) {
    
        padding: 0 $sizing--lrg;
    }
}

// column containers - can be used inside column spans for subgrids

// !!! deprecated with advent of subgrid. need to update to reflect with a token for adding subgrid for components !!!

$grid-gap: 1.5rem 3rem;

.columns--one {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: $grid-gap;
	
    @media screen and (max-width: 600px) {
		grid-gap: $sizing--med;
	}
}

.columns--two { // parent grid of 2 columns
    @extend .columns--one;
    grid-template-columns: repeat(2, 1fr);
}

.columns--three { // parent grid of 3 columns
    @extend .columns--one;
    grid-template-columns: repeat(3, 1fr);
}

.columns--four { // parent grid of 4 columns
    @extend .columns--one;
    grid-template-columns: repeat(4, 1fr);
}

.columns--five { // parent grid of 5 columns
    @extend .columns--one;
    grid-template-columns: repeat(5, 1fr);
}

.columns--six { // parent grid of 6 columns
    @extend .columns--one;
    grid-template-columns: repeat(6, 1fr);
}

.columns--seven { // parent grid of 7 columns
    @extend .columns--one;
    grid-template-columns: repeat(7, 1fr);
}

.columns--eight { // parent grid of 8 columns
    @extend .columns--one;
    grid-template-columns: repeat(8, 1fr);
}

.columns--nine { // parent grid of 9 columns
    @extend .columns--one;
    grid-template-columns: repeat(9, 1fr);
}

.columns--ten { // parent grid of 10 columns
    @extend .columns--one;
    grid-template-columns: repeat(10, 1fr);
}

.columns--eleven { // parent grid of 11 columns
    @extend .columns--one;
    grid-template-columns: repeat(11, 1fr);
}

//column spans for content within master 12 column grid containers
.span--1 { // spans 1 column of parent grid
    grid-column: span 1 / auto;
}
.span--2 {  // spans 2 columns of parent grid
    grid-column: span 2 / auto;
}
.span--3 { // spans 3 columns of parent grid
    grid-column: span 3 / auto;
}
.span--4 { // spans 4 columns of parent grid
    grid-column: span 4 / auto;
}
.span--5 { // spans 5 columns of parent grid
    grid-column: span 5 / auto;
}
.span--6 { // spans 6 columns of parent grid
    grid-column: span 6 / auto;
}
.span--7 { // spans 7 columns of parent grid
    grid-column: span 7 / auto;
}
.span--8 { // spans 8 columns of parent grid
    grid-column: span 8 / auto;
}
.span--9 { // spans 9 columns of parent grid
    grid-column: span 9 / auto;
}
.span--10 { // spans 10 columns of parent grid
    grid-column: span 10 / auto;
}
.span--11 { // spans 11 columns of parent grid
    grid-column: span 11 / auto;
}
.span--12 { // spans 12 columns of parent grid
    grid-column: span 12 / auto;
}

.align {
    display: grid;
    grid-template-columns: subgrid;
    gap: $grid-gap;
}

.columns--twelve {
    margin: 0 auto;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: $grid-gap;
    max-width: $max-width-desktop;

    > div {
        display: grid;
        grid-template-columns: subgrid;
        gap: $grid-gap;
    }

	@media screen and (min-width: $tablet--min) and (max-width: $tablet--max) { //tablet 6 columns
		grid-template-columns: repeat(6, 1fr);
		.span--1, .span--2, .span--3, .span--4 {
			grid-column: span 2 / auto;
            .columns--one {
                grid-template-columns: 1fr;
            }
			.columns--two, .columns--three, .columns--four {
				grid-template-columns: repeat(2, 1fr);
				.span--all {
					grid-column: span 2 / auto;
				}
			}
		}
		.span--5, .span--6, .span--7 {
			grid-column: span 3 / auto;
			.columns--five, .columns--six, .columns--seven {
				grid-template-columns: repeat(2, 1fr);
				.span--all {
					grid-column: span 2 / auto;
				}
			}
		}
		.span--8, .span--9, .span--10, .span--11 {
			grid-column: span 4 / auto;
			.columns--eight, .columns--nine, .columns--ten, .columns--eleven {
				grid-template-columns: repeat(4, 1fr);
				.span--all {
					grid-column: span 4 / auto;
				}
			}
		}
		.span--12 {
			grid-column: span 6 / auto;
			.columns--twelve {
				grid-template-columns: repeat(6, 1fr);
				.span--all {
					grid-column: span 6 / auto;
				}
			}
		}
        .span--all {
            grid-column: span 6 / auto;
        }
    }
	@media screen and (max-width: $desktop) { // mobile single column for all content
		grid-template-columns: 1fr;
		grid-gap: $sizing--med;

        .span--all {
            grid-column: 1;
        }
        
		.span--1, .span--2, .span--3, .span--4, .span--5, .span--6, .span--7, .span--8, .span--9, .span--10, .span--11, .span--12, .span--all {
			grid-column: 1;
			.columns--one, .columns--two, .columns--three, .columns--four, .columns--five, .columns--six, .columns--seven, .columns--eight, .columns--nine, .columns--ten, .columns--eleven, .columns--twelve {
				grid-template-columns: 1fr;
				.span--all {
					grid-column: span 1 / auto
				}
			} 
		}
	}
}

// span all columns regardless of parent declarations
@media screen and (min-width: $desktop) {

    .columns--twelve {
        .span--all {
            grid-column: span 12 / auto;
        }
    }
    .columns--one {
        .span--all {
            grid-column: span 1 / auto;
        }
    }
    .columns--two {
        .span--all {
            grid-column: span 2 / auto;
        }
    }
    .columns--three {
        .span--all {
            grid-column: span 3 / auto;
        }
    }
    .columns--four {
        .span--all {
            grid-column: span 4 / auto;
        }
    }
    .columns--five {
        .span--all {
            grid-column: span 5 / auto;
        }
    }
    .columns--six {
        .span--all {
            grid-column: span 6 / auto;
        }
    }
    .columns--seven {
        .span--all {
            grid-column: span 7 / auto;
        }
    }
    .columns--eight {
        .span--all {
            grid-column: span 8 / auto;
        }
    }
    .columns--nine {
        .span--all {
            grid-column: span 9 / auto;
        }
    }
    .columns--ten {
        .span--all {
            grid-column: span 10 / auto;
        }
    }
    .columns--eleven {
        .span--all {
            grid-column: span 11 / auto;
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .page-end {
        margin-bottom: 100vh;
        padding-bottom: 3rem;

        @media only screen and (max-width: $tablet--max) {
            margin-bottom: 0;
            padding-bottom: 1.5rem;
        }
    }