.navigation {
    backdrop-filter: blur(.5rem);
    background: $secondary-gray-beige;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (max-width: $tablet--max) {
        background: $hero-index-background-color;

        &.nav-mobile-case-study {
            background: $hero-case-study-background;
        }

        &.nav-mobile-interior {
            background: $hero-index-type-color;
        }

        &.nav-mobile-secondary {
            background: $hero-background-light-blue;
        }

        &.nav-mobile-tertiary {
            background: $secondary-red-light;
        }
    }

    nav {
        align-items: baseline;
        margin: 0 auto;
        padding: $sizing--lrg 0;

        @media screen and (max-width: $tablet--max) {
            display: flex;
            justify-content: space-between;
        }

        .logo {
            margin-right: auto;
            text-transform: uppercase;
            letter-spacing: $sizing--xsm;
        }

        a {
            font-size: $size-sm;
            color: $secondary-blue-gray;
            text-transform: lowercase;
            text-decoration: none;
            margin-right: auto;

            @media screen and (max-width: $tablet--max) {
                font-size: $size-sm;
                margin-right: 0;
                color: $white;

                &.nav-mobile-case-study {
                    color: $black;
                }

                &.underline {
                    box-shadow: 0 -0.0625rem 0 $primary inset
                }
            }

            img {
                width: 100%;
            }

            &.right {
                text-align: right;

                @media screen and (max-width: $tablet--max) {
                    text-align: left;
                    margin: 0;
                }
            }

            &.center {
                text-align: center;
                margin: 0 auto;

                @media screen and (max-width: $tablet--max) {
                    text-align: left;
                    margin: 0;
                }
            }

            &:hover {
                color: $primary;
            }

            &:last-child {
                margin-left: auto;
                margin-right: 0;

                @media screen and (max-width: $tablet--max) {
                    margin: 0;
                }
            }
        }
    }
}

header {
    position: relative;
    }

.header-contact-info {
    font-size: $size-sm;
    font-weight: $weight--bold;

    .underline {
        font-weight: $weight--regular;
    }
}